* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(100deg, #D7D7D7 50%, black 50%);
    column-gap: 10%;
}

.design-in,
.main-2 .unorder,
.page-3-para,
.flx-dz,
.languages,
.languages-learning,
.lang-skills,
.port-img,
.pg-4-ul,
.last-ad-sm,
.flex-mb,
.star-3,
.star-3c,
.d-flex,
.page-4-fl {
    display: flex;
}

.design-in,
.page-3-para,
.languages,
.languages-learning,
.lang-skills,
.port-img,
.pg-4-ul,
.d-flex,
.last-ad-sm,
.flx-dz {
    justify-content: center;
}

.design-in,
.languages,
.languages-learning,
.lang-skills,
.page-4-fl {
    flex-wrap: wrap;
}

.page-3,
.more-to-come,
.page-5,
.last-ad,
.star-3,
.star-3c,
.pg-4-back,
.page-4-pp {
    text-align: center;
}

.flx-dz,
.port-img,
.flex-mb {
    align-items: center;
}

.design-in {
    width: 100%;
}

.design-in-mg {
    width: 40%;
    margin: 4%;

}

.main-1 {
    padding: 3rem;
}

.sub-1 {
    margin: 6rem 0rem;
}

.sub-1 .hi {
    font-size: 40px;
    font-weight: 700;
    font-family: Raleway;
}

.sub-1 .your-name {
    font-size: 80px;
    font-weight: 700;
    margin-top: 1rem;
    font-family: Raleway;
}

.sub-1 .ui {
    font-size: 25px;
    font-weight: 800;
    color: #909090;
    padding-top: 8px;
    font-family: Raleway;
}

.main-1 .sub-2 .vector {
    padding: 6px;
    background-color: #C4C4C4;
    border-radius: 2px;
    margin: 8px;
}

.main-2 .unorder {
    column-gap: 6%;
    margin: 6%;
}

.unorder .list {
    list-style: none;
    font-size: 17px;
    font-weight: 700;
}

.unorder .list a {
    text-decoration: none;
    color: #fff;
}

.unorder .list .cnt-me {
    color: #000000;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
}

.page-2 {
    padding: 2rem;
    background-color: #000000;
    color: #fff;
}

.page-2-beries {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Montserrat';
}

.page-2-nulla {
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0px;
    width: 98%;
}

.read-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin: 2rem 0em;
    border: 2px solid #fff;
    border-top: 0;
    border-bottom: 0;
    padding: 4px 20px;
}

.page-3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 1rem;
}

.page-3-para {
    margin: 30px;
}

.pg-3-nulla {
    font-weight: 400;
    font-size: 15px;
    width: 50%;
}

.abt-btn {
    border: 8px solid #000000;
    font-size: 30px;
    font-weight: 700;
    padding: 12px 50px;
    margin: 3rem;
    background-color: transparent;
    font-family: Montserrat;
}

.explore-btn {
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin: 2rem 0em;
    background-color: transparent;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;
    padding: 4px 20px;
}

.dz {
    font-size: 22px;
    font-weight: 700;
}

.mg {
    margin: 20px;
}

.cncn {
    width: 42%;
}

.pg-3-scd {
    margin: 2rem;
}

.lng {
    text-align: start;
    font-size: 30px;
    font-weight: 700;
    margin: 2% 0% 4% 10%;
}

.languages {
    column-gap: 6rem;
    margin: 1rem;
}

.languages-in {
    width: 17%;
}

.languages-learning {
    column-gap: 6rem;
    margin: 1rem;
}

.lang-skills {
    column-gap: 6rem;
    margin: 1rem;
}

.p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px;
}

.port-img {
    background-image: url(images/par-pg-4.png);
}

.port-btn {
    border: 8px solid #000000;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    margin: 3rem;
    background-color: transparent;
}

.pg-4-ul {
    column-gap: 3rem;
    background-color: #1A1A1A;
    padding: 10px;
}

.p-4-lst {
    list-style-type: none;
}

.p-4-lst a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.page-4-pro {
    background-color: #1A1A1A;
}

.more-to-come {
    color: #fff;
    background-color: #1A1A1A;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.page-5 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 1rem;
}

.nulla-pg-5 {
    font-weight: 400;
    font-size: 15px;
    width: 50%;
    margin: auto;
}

.pg-5-ipt {
    margin: 2rem;
}

.pg-5-text,
.tst {
    border: 3px solid;
    border-top: none;
    border-right: none;
    padding: 10px;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    width: 230px;
}

.pg-5-text {
    height: 4px;
    margin: 1%;
}

.tst {
    height: 80px;
    margin-top: 10px;
}

.last-ad {
    background-color: #1A1A1A;
    color: #FFFFFF;
    padding: 10px;
    padding: 10px;
}

.last-ad-sm {
    column-gap: 2%;
    margin: 10px;
}

.mobile-pg {
    background-color: #000000;
    width: 100%;
}

.mobile-pg-1 {
    position: relative;
}

.flex-mb {
    justify-content: space-around;
    column-gap: 30%;
    padding: 10px;
}

.mini-side {
    width: 100%;
}

.logo {
    color: #fff;
    background-color: #fff;
    width: 40px;
    height: 35px;
}

.three-bar {
    width: 30px;
    height: 20px;
}

.star-3 {
    width: 100%;
    color: #fff;
}

.star-3c {
    width: 100%;
    color: #fff;
}

.pg-4-back {
    background-image: url(images/ppp2.png);
    width: 33.33%;
    color: #fff;
}

.d-flex {
    margin: 10%;
}

.demo-btn {
    font-size: 12px;
    font-weight: 600;
    border: none;
    margin: 2rem 0em;
    background-color: transparent;
    color: #fff;
}

.page-4-pp {
    font-size: 20px;
    font-weight: 600;
    background-color: #000000;
    color: #fff;
    font-family: Montserrat;
    padding: 6px;
}

.coded-designed {
    font-family: italic;
    font-size: 10px;
    font-weight: 600;
    padding: 4%;
}

.eat {
    font-size: 25px;
    font-weight: 700;
    margin: 2%;
}

.restarent {
    font-size: 10px;
    font-weight: 500;
}

.lang-l-ig {
    width: 17%;
}

.lang-skills-wd {
    width: 17%;
}

.design-para {
    font-size: 14px;
    font-weight: 300;
}

.img-m {
    margin: 1%;
}

.st {
    font-size: 15px;
    font-weight: 700;
    font-family: Montserrat;
}

.pg-4-img {
    width: 33.33%;
}

.l-ad {
    font-size: 18px;
    font-weight: 700;
    font-family: Nunito;
}

.fa-brands,
.fa-square-facebook {
    font-size: 26px;
    margin: 1%;
}

.fa-solid,
.fa-envelope {
    font-size: 26px;
    margin: 1%;
}

@media only screen and (max-width: 600px) {
    .main {
        display: none;
    }

    .page-2 {
        background: linear-gradient(90.18deg, #1D1D1D 31.59%, #1D1D1D 90.35%, #1D1D1D 90.35%);
    }

    .read-btn {
        position: relative;
        left: 25%;
    }

    .pg-3-nulla {
        width: 100%;
        margin: 10px;
    }

    .page-3 {
        width: 100%;
        padding: 0px;
    }

    .tl-flx {
        display: contents;
        margin: 1rem;
    }

    .design-in-mg {
        width: 80%;
    }

    .languages-in {
        width: 100%;
        margin: 2%;
    }

    .cncn {
        width: 100%;
        margin: 10px;
    }

    .nulla-pg-5 {
        font-weight: 400;
        font-size: 15px;
        margin: 0px;
        width: 100%;
    }

    .pg-5-ipt {
        width: 100%;
        margin: 0;
    }

    .lang-skills {
        margin: 0;
        padding: 1rem;
    }

    .lng {
        margin-left: 0;
        text-align: center;
    }

    .eat {
        font-size: 15px;
        font-weight: 500;
        margin: 1%;
    }

    .d-flex {
        margin: 0;
    }

    .demo-btn {
        font-size: 70%;
    }

    .pg-4-back {
        display: block;
        width: 100%;
    }

    .pg-4-img {
        width: 100%;
    }

    .sub-mb-bc {
        position: absolute;
        top: 70%;
        color: #fff;
        background-color: #0000008F;
        transform: skew(0deg, -6deg);
        width: 100%;
        height: 34%;
        display: flex;
        justify-content: space-around;
    }

    .sub-mb-bc-in {
        transform: skew(0deg, 6deg);
        position: relative;
        top: 25%;
    }

    .md-cat {
        display: block;
        width: 4%;
        transform: skew(0deg, 6deg);
        position: relative;
        top: 25%;
    }
}

@media only screen and (max-width: 1010px) {
    .main {
        column-gap: 4%;
    }

    .main-1 {
        padding: 0;
        margin: 2%;
    }

    .unorder .list {
        font-size: 13px;
    }

    .main-2 .unorder {
        column-gap: 2%;
    }

    .sub-1 .your-name {
        font-size: 60px;
    }

    .abt-btn {
        border: 4px solid #000000;
        font-size: 16px;
        font-family: Montserrat;
    }

    .languages-in {
        width: 37%;
        margin: 2%;
    }

    .lang-l-ig {
        width: 37%;
        margin: 2%;
    }

    .lang-skills-wd {
        width: 37%;
        margin: 2%;
    }
}

@media only screen and (min-width: 600px) {
    .mobile-pg {
        display: none;
    }
}